body{font-family: 'Sofia';font-size: 22px;
}
.header{
    
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: 10%;
    line-height: 70px;
    background-color:#333333;
    position: fixed;
    top:0;
    
}
.header .header-logo{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color:orange;
    float:left;
    margin-left: 30px;
	margin-top:2.5px;
}
.header .header-menu{
    float:right;
    margin-right:30px;
}
.header .header-menu a{
    margin-right: 15px;
    color:#FFFFFF;

}
.header .header-menu a:hover{
    color:#3498db;
}
.banner{
    margin-top: 20px;
}
.banner .image{
    position: relative;
}
.banner .banner-content{position: absolute;
width: 100%;
text-align:center;
top:20%;}
.header .header-menu .c9{size:x-large;color:orange;}
.banner .buttonis{background-color:orange;color:black;size:24px;}

